body {
    background-color: black;
    margin: 0;
    overflow-x: hidden;
    color: white;
    font-family: 'Space Mono', monospace;
    background: linear-gradient(to bottom, #000000, #00008b); /* Gradient from black to dark blue */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: scale(1 1.5);
    }
    to {
        transform: rotate(360deg);
    }
}

.text-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    position: relative;
    z-index: 3;
}

.text-container.left {
    justify-content: flex-start;
}

.text-container.right {
    justify-content: flex-end;
}

.text {
    font-size: clamp(0.5rem, 1vw, 1.5rem);
    color: white;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
    font-family: 'Space Mono', monospace;
}

.text:hover {
    color: black;
    background-color: white;
    transform: scale(1.05);
}

.content {
    padding-top: 20vh;
    z-index: 3;
    position: relative;
}
