<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Work</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header">

            <!-- Logo -->
            <a href="https://hukairs.github.io/portfolio/" class="logo">Hukairs</a>
            <nav class="navbar">
                <a href="{{ url_for('contact') }}">Contact Me</a>
            </nav>

        </div>
    </header>
    <main>

        <!-- Page Title -->
        <section class="page-title">
            <h1 class="fade-in-title">These are projects that I am currently working on:</h1>
        </section>

        <!-- Content Section -->
        <section class="content-section">
            
            <div class="bot-logo slide-up">
                <a href="https://discord.gg/5TuBZGQ4" target="_blank">
                    <img src="static/pfp.jpg" alt="Bot Logo">
                </a>
            </div>
            
            <div class="bot-description slide-up">
                <p>This is my DnD (Dungeon & Dragons) Discord bot, called Holiday Adventures. 
                    <a href="https://discord.gg/5TuBZGQ4" style="text-decoration: none; color: inherit;">Click here to join the Holiday Discord server!</a></p>

            </div>
        </section>
    </main>
</body>
</html>


<!--
-->